.App {
  text-align: center;
}

body{
  background-color: black;
}
.navbar-expand-lg .navbar-nav .nav-link{
  color: white;
}

.form-control, .mr-sm-2{
  background-color: #3E3E3E ;
  color: white;
}

.dropdown-item{
  background-color: #3E3E3E ;
  color: white;
}

.dropdown-menu{
  background-color: #3E3E3E ;
}

#basic-nav-dropdown{
  color: white;
}

#basic-navbar-nav{
  justify-content: center;
}

.cocktail-container{
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-title{
  height: 40px;
}

.card{
margin-top: 20px;
}

#search-notfound{
  margin: auto;
  width: 100%;
  padding: 20px;
  margin: 15px 0px 15px 0px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  position: relative;
  top: 50px;
}


.hidden{
  display: none;
}

#single-item{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

#main-container{
  display: inline-grid;
}

#random-cocktail-container{
  margin-top: 20px;
  align-items: center;
  width: 60% !important;
  display: block ruby;
  margin-top: 20px;
  
}

.random-cocktails{
  align-items: center;
}


#header-pic{
  height: 250px;
  float: left;
}

#header {
  background-color: black;
  width: 100%;
  display: flex;
  position: relative;
  text-align: center;
  color: white;
}

#header-text{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: 'Nothing You Could Do';
}

#about-us-text{
  margin-top: 20px;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.content{
  color: #3E3E3E;
  font-size: 18px;
}

.line{
  padding-left: 12px;
}

.header{
  height: 50px
}

.ui .grid .container {
  color: white;
  display: inline-flex !important;
}

.filtered-cocktail{
  padding-top: 50px;
}

.cocktail-by-spirit{
  padding-top: 50px;
}

.filter-header{
  position: relative;
  top: 50px;
  color:white;
}

.scroller {
  height: 285px;
  overflow-y: scroll;
  scrollbar-color: black grey;
  scrollbar-width: thin;
  margin-left: 100px;
}

.instruction-text{
  margin: 10px;
}

#description-text{
  margin-top: 20px;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

#about-us-text-2{
  margin-top: 20px;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}