.App {
  text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-link{
  color: white;
}

.form-control, .mr-sm-2{
  background-color: #3E3E3E ;
  color: white;
}

.dropdown-item{
  background-color: #3E3E3E ;
  color: white;
}

.dropdown-menu{
  background-color: #3E3E3E ;
}

#basic-nav-dropdown{
  color: white;
}

#basic-navbar-nav{
  justify-content: center;
}

.cocktail-container{
  display: inline-flex;
  width: 900px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-title{
  height: 40px;
}

.card{
margin-top: 20px;
}

#search-notfound{
  margin: auto;
  width: 100%;
  padding: 20px;
  margin: 15px 0px 15px 0px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}


.hidden{
  display: none;
}

#single-item{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

#main-container{
  display: inline-grid;
}

#random-cocktail-container{
  margin-top: 20px;
  align-items: center;
}

.random-cocktails{
  align-items: center;
}


